@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
:root{
    --primary-color: #afaf91;
}


* {
    box-sizing:border-box;
    outline:0;
    margin:0;
    padding:0;
}


body{
    margin:0 ;
    padding:0;
    background-color:var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height:1.5em;

}

.container{
    max-width: 650px;
    margin:50px auto;
    background: #e9e7eb;
    padding:20px;
    border-radius: 10px;
}

form input, form label , form button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 1%;

}

form input{
    background: #cec8c9;
    font-size: 24px;
    height: 50px;
    padding:0 20px;
}

form input:focus {
    outline:2px solid  var(--primary-color);
}


form button {
    border: none;
    background: var(--primary-color);
    color: #fff ;
    font-size:18px ;
    font-weight: 700;
    height: 50px;
    cursor: grabbing;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color);
}
form button:active {
    background: #3f9952;
}

.paragrafo-resultado {
    background: #77bb8e;
    padding: 10px 20px;
}